html,
body {
  padding: 0;
  margin: 0;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  height: 70px;
  -webkit-box-shadow: -3px 8px 15px -10px #000000; 
  box-shadow: -3px 8px 15px -10px #000000;
}

.header-inner {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}

.button {
  transition: 0.5s ease-in-out background-color;
  text-decoration: none;
  border: 0px solid black;
  display: block;
  padding: 7px 30px;
  border-radius: 7px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.header a {
  transition: 0.5s ease-in-out background-color;
  text-decoration: none;
  border: 0px solid black;
  display: block;
  padding: 7px 30px;
  border-radius: 7px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 0px solid black;
  background-color: black;
  display: block;
}

.header a:hover {
  background-color: #999999;
  color: black;
}

.button.primary {
  border: 0px solid black;
  background-color: black;
  color: white;
}

.button.primary:hover {
  background-color: #999999;
  color: black;
}

.hasIcon {
  display: flex;
  align-items: center;
}
